<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatCom</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
    <div class="header">DigiCon 2.0</div>
    <div class="master_panel">
        <div class="row">
            <div class="left_panel">Place to see the list of folders (retractable) </div>
            <div class="mid_panel">Place to chat</div>
            <div class="right_panel">Place to see the output (retractable) </div>
        </div>
    </div>
</body>
</html>
